@using Homework1.Models
@model IEnumerable<Homework1.Models.Student> 

<p>All students</p>
<style>
table{
    border: 5px solid darkblue;
}

tr, td {
    border: 1px solid darkblue;
}

</style>
<table class="table">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Attendant Status</th>
            <th>Attendant Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Student student in Model)
        {
            <tr>
                <td>@student.StudentID</td>
                <td>@student.Name</td>
                <td>@student.Surname</td>
                <td>@student.Signed</td>
                <td>@student.SignedAt</td>
            </tr>
        }
    
    </tbody>
</table>