@using Homework1.Models
@model IEnumerable<Homework1.Models.Student> 

<p>All students</p>
<style>
table{
    border: 5px solid darkblue;
}

tr, td {
    border: 1px solid darkblue;
}

</style>
<table class="table">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Attendant Status</th>
            <th>Attendant Date</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Student student in Model)
        {
            <tr>
                <td>@student.StudentID</td>
                <td>@student.Name</td>
                <td>@student.Surname</td>
                <td>@student.Signed</td>
                <td>@student.SignedAt</td>
                <td><a href="/Student/Details?studentId=@student.StudentID">View</a></td>
            </tr>
        }
    </tbody>
</table>

<p>Total students number: @ViewBag.TotalStudentNumber</p>

<a href="/home/index" style="text-decoration: none; padding: 10px 20px; background-color: darkblue; color: white; border-radius: 5px;">
        Go back homepage!
    </a>